p {
    font-size: 15px;
    display: inline-block;

}

h1 {
    font-size: 45px;

}

h2 {
    font-size: 35px;

}

a {
    display: block;
    font-weight: bold;
    color: blue;
    background: white;
    width: 200px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
}

a:hover {
    background: purple;
    color: yellow;

}

a:focus {
    background: purple;
    color: yellow;

}
